# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
env/
venv/
*.egg-info/
.eggs/

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Specific to deployment
public/  # Frontend files should not be part of backend deployment
src/     # Ignore frontend `src` folder
vite.config.js
index.html
eslint.config.js
package.json
package-lock.json

